/*
Whodunnit?

A Game by Zach Fedor

Stylesheet
*/

body {
	text-align: center;
	color: #000000;
	font-size: 1.15em;
	background: url('seamless.jpg') repeat top left;
}

.wrapper {
	border: 3px solid #000000;
	border-radius: 25px;
	box-shadow: 0px 0px 30px 10px #000000;
	background: #ffffff;
	min-width: 100px;
	max-width: 800px;
	width: 80%;
	margin: 10% auto;
}

a {
	color: #000000;
}
	
a:hover {
	color: #000000;
	text-shadow: 0px 0px 10px #000000;
}

a:visited {
	color: #000000;
}

p {
	margin: 25px;
}

ul {
	list-style-type: none;
	margin: 10px 50px;
	padding: 0;
}

form {
	margin: 10px auto;
}

table {
	margin: 10px auto;
}

td {
	vertical-align: top;
}

input {
	margin-bottom: 20px;
}