/***************************************

novel.css

author - zach fedor
date - 06-26-14
version - 1.2

for portfolio site - zachfedor.com

description - a page taken straight
out of a dusty leather bound volume
inspired by my love of the written word

***************************************/

/* global 
***************************************/
@import 'normalize.css';
    /* https://github.com/necolas */

*, *:before, *:after {
    /* add border-box to all elements */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /* Small screens (default) */
    font-size: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
    background: #3D464D;
    color: #fff;
}

body {/*
    height: 100%;*/
    text-align: left;
}
 
@media (min-width: 40rem) {
    /* Medium screens (640px) */
    html {
        font-size: 112%;
    }
}

@media (min-width: 64rem) {
    /* Large screens (1024px) */ 
    html {
        font-size: 120%;
    }
}

/* layout
***************************************/
.row {
    margin: 0 auto;
    width: 90%;
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 40rem) {
    /* sets responsive grid layout */
    main {
        margin-top: 6.2rem;
    }

    article {
        padding-top: 3rem;
        padding-bottom: 1.4rem;
    }

    .col1 {
        float: left;
        width: 13rem;
    }

    .col2 {/*
        background: #cccccc;*/
        margin-left: 13rem;
        padding-left: 2.1rem;
    }
}

@media (min-width: 64rem) {
    .row {
        width: 75%;
    }
}

.clearfix:before, .clearfix:after {
    /* fixing clearing issues */
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
.clearfix {
    *zoom: 1;
}

/* header
***************************************/
.bannerWrap {
    background: #3D464D;
    font-family: 'IM Fell English', serif;
    letter-spacing: 2;
    z-index: 5;
}

.bannerWrap a {
    text-decoration: none;
    color: #aaaaaa;
}

.bannerWrap a:hover, .bannerWrap a:active, .bannerWrap a:focus {
    color: #368DDE;
}

.banner {
    border-bottom: 1px solid #aaaaaa;
}

.bannerTitle {
    display: block;
    padding: 1.7rem 0 0.7rem;
    font-size: 1.4rem;
}

nav {
    padding: 0;
}

nav a {
    display: inline-block;
    padding: 0.3rem 0;
}

nav a + a {
    margin-left: 1rem;
}

@media (min-width: 40rem) {
    .bannerWrap {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

/* content
***************************************/
header, section, figure {
    margin: 0 0 1.4rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0.7rem 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-family: 'IM Fell English', serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1rem;
}

a {
    color: #fff;
}

a:hover, a:active, a:focus {
    color: #368DDE;
}

img {
    border: 1px solid #fff;
}

figure.col1 img {
    width: 13rem;
}

figcaption {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #aaaaaa;
}

blockquote {
    font-family: 'IM Fell English', serif;
    border-left: 1px solid #aaaaaa;
}

hr {
    width: 35%;
    height: 1px;
    margin: 3rem auto;
    border: 0;
    border-color: #cccccc;
    color: #cccccc;
    background-color: #cccccc;
}

/*home page*/

.quoteBlock {
    border: 0;
}

.quoteContent {
    text-align: left;
    max-width: 400px;
    margin: 0 auto 2em;
    line-height: 180%;
}

.quoteAuthor {
    margin-bottom: 4em;
    text-align: left;
    margin-left: 50%;
}

#hideAuthor, #hideContent {
    color: #3D464D;
    padding: 0;
    margin: 0;
}

/*projects page*/

.projectTitle {
    font-family: 'IM Fell English', serif;
    margin-top: 0;
}

.projectMeta {
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 180%;
}

.projectDescription {
    margin-bottom: 6em;
    text-align: left;
    line-height: 180%;
}

@media (min-width: 50rem) {
    .projectMeta {
        text-align: left;
    }

    .projectImage {
        margin: 0 0 20px 40px;
        float: right;
    }
}

/*contact page*/

#contactBlock input, #contactBlock textarea {
    padding: 5px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    margin: 0px 0px 20px 0px;
    border: 1px solid #fff; /*#fff;*/
}

#contactBlock textarea {
    height: 90px;
}

#contactBlock textarea:focus, #contactBlock input:focus {
    border: 1px solid #368DDE;
}

#contactBlock input.submit-button {
    width: 100px;
    margin: 0 auto 3em;
    font-family: 'IM Fell English', serif;
    font-size: 1.3em;
}

label {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-family: 'IM Fell English', serif;
    font-size: 1.3em;
}

.contactThanks {
    text-align: center;
    font-family: 'IM Fell English', serif;
    margin-top: 0;
    padding-top: 0;
}

.contactError {
    color: #368DDE;
    font-size: 1.3em;
    font-family: 'IM Fell English', serif;
    margin-top: 0;
    padding-top: 0;
}

/*about page*/

.aboutQuote p {
    margin-bottom: 0.5em;
}

.aboutQuote span {
    margin-bottom: 2em;
}

.aboutTitle {
    font-family: 'IM Fell English', serif;
}

.aboutPar {
    margin: 0 0 1em 0;
    line-height: 180%;
    text-align: left;
}

/* footer
***************************************/
footer {
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    color: #aaaaaa;
    text-transform: uppercase;
}

footer div {
    border-top: 1px solid #aaaaaa;
}

.footerRight {
    float: right;
    display: block;
    margin-top: 1.4rem;
}

@media (min-width: 40rem) {
    .footerRight {
        display: inline;
        margin: 0;
    }
}